.text-container {
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #d1d1d1; /* Grey border */
    padding: 20px; /* Padding around the text */
    font-family: 'Arial', sans-serif; /* Font style */
    font-size: 16px; /* Font size */
    color: #333; /* Dark grey text color */
    width: 80%; /* Container width */
    margin: 20px auto; /* Centering the div */
    text-align: center; /* Center-aligned text */
  }
  
  /* Base styles for all buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Styles for the primary button */
  .button-primary {
    background-color: #007BFF; /* Blue */
    color: white;
  }
  
  .button-primary:hover {
    background-color: #0056b3; /* Darker blue */
    color: #fff;
  }
  
  /* Styles for the secondary button */
  .button-secondary {
    background-color: #6c757d; /* Grey */
    color: white;
  }
  
  .button-secondary:hover {
    background-color: #5a6268; /* Darker grey */
    color: #fff;
  }
  